<?xml version="1.0" encoding="utf-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="Dissect test suite">
            <directory>./tests/Dissect/</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>./src/</directory>
        </include>
        <report>
            <clover outputFile="./build/logs/clover.xml"/>
            <crap4j outputFile="./build/logs/crap4j.xml"/>
            <xml outputDirectory="./build/coverage/xml"/>
        </report>
    </coverage>


    <logging>
        <junit outputFile="./build/logs/junit.xml"/>
    </logging>
</phpunit>
